.main h1,
.sharing,
.main p,
.logo-feature,
.programs-about p,
.speakers-about p,
.speakers-about-header,
.center {
  text-align: center;
}

.container-about {
  background: 50%/cover no-repeat url(./assets/mobile/leo-bg.jpg), rgba(18, 23, 37, 0.9);
}

.main {
  width: 78vw;
  margin: 0 auto;
  gap: 3vh;
}

.main h1 {
  font-weight: 100;
  font-size: 1.625rem;
  line-height: 38px;
  color: var(--primary);
}

.sharing {
  font-weight: 100;
  font-size: 1.2rem;
  color: var(--primary);
  line-height: 22px;
}

.main p {
  font-size: 0.933rem;
  font-weight: 100;
  line-height: 25px;
  color: var(--text-color);
  padding: 1rem;
}

.programs-about {
  padding: 5%;
  gap: 2.4rem;
  margin-bottom: 4%;
}

.programs-about p,
.speakers-about p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 22px;
  color: var(--primary-BG);
}

.logo-feature {
  background-color: rgba(211, 211, 211, 0.4);
  padding: 5% 10%;
  outline: 4px solid var(--primary-BG);
}

.programs-header h2,
.speakers-about-header {
  color: var(--primary-BG);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 38px;
}

.speakers-about {
  border-top: 1px solid var(--secondary-BG);
  padding: 5%;
  gap: 1.5rem;
}

.submit-pictures {
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.submit-pictures div {
  gap: 1rem;
  height: 15rem;
  color: var(--white);
}

.submit-pictures p,
.upper h2 {
  color: var(--white);
}

.submit1 {
  background: 50%/cover no-repeat url(./assets/mobile/submit1.jpg), rgba(236, 82, 66, 0.6);
}

.submit2 {
  background: 50%/cover no-repeat url(./assets/mobile/submit2.jpg), rgba(236, 82, 66, 0.6);
}

.submit1,
.submit2 {
  background-size: 100% 100%;
  padding: 2rem;
  background-blend-mode: overlay;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .mail {
    padding-bottom: 2px;
    border-bottom: 1px solid;
  }

  .navigator li {
    color: var(--primary-BG);
    font-size: 1.1rem;
    border-bottom: none;
    width: initial;
    padding: 3%;
    text-align: center;
  }

  #pdc {
    outline: 5px solid var(--primary);
    padding: 5px 10px;
    color: var(--primary);
  }

  .container {
    background: 50%/cover no-repeat url(./assets/desktop/bg2.jpg), rgba(18, 23, 37, 0.9);
    padding: 5% 11%;
    gap: 0;
    margin-top: 0;
  }

  .title-span {
    text-align: center;
  }

  .main {
    width: 50vw;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 7rem;
  }

  .main h1 {
    font-size: 2.675rem;
    letter-spacing: 3px;
    line-height: 52px;
    font-weight: 600;
  }

  .sharing {
    font-size: 1.7rem;
    letter-spacing: 3px;
    font-weight: 300;
  }

  .main p {
    font-size: 1.133rem;
    padding: 1.4rem 2.7rem;
  }

  .support {
    border: 1px solid var(--text-color);
    width: 70%;
  }

  .programs-about {
    padding: 2% 28%;
  }

  .programs-about p,
  .speakers-about p {
    font-size: 1rem;
    line-height: 20px;
  }

  .logo-feature {
    width: 50%;
    margin: 0 auto;
  }

  .speakers-about {
    gap: 1.2rem;
    padding: 2% 23%;
  }

  .submit-pictures {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin-bottom: 1.5rem;
  }
}
